<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>ts_meishi</string>
		<key>title</key>
		<string>美食</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_yinyue</string>
		<key>title</key>
		<string>音乐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_lvxing</string>
		<key>title</key>
		<string>旅行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_kanpian</string>
		<key>title</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_pinjiu</string>
		<key>title</key>
		<string>品酒</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_yingxiang</string>
		<key>title</key>
		<string>摄影</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_fengshang</string>
		<key>title</key>
		<string>风尚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_shanghua</string>
		<key>title</key>
		<string>艺术</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_jujia</string>
		<key>title</key>
		<string>家居</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_yundong</string>
		<key>title</key>
		<string>运动</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_dushu</string>
		<key>title</key>
		<string>读书</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_wanwu</string>
		<key>title</key>
		<string>玩物</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_yayi</string>
		<key>title</key>
		<string>雅艺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ts_sanlian</string>
		<key>title</key>
		<string>周刊</string>
	</dict>
</array>
</plist>
